body { background: #77e4c8; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 52px; display: flex; }
.block-search-0 { color: #b8f508; font-size: 17px; margin-bottom: 5px; }
.block-cart-1 { color: #c6cbe6; font-size: 17px; margin-bottom: 5px; }
.block-token-2 { color: #a4cb66; font-size: 17px; margin-bottom: 5px; }
.block-search-3 { color: #546cf1; font-size: 17px; margin-bottom: 5px; }
.block-order-4 { color: #a5a307; font-size: 20px; margin-bottom: 5px; }